/* -----------------Mobiele/tablet versie van de login-------------------- */


@media only screen and (max-width: 850px) {
    body {
        background-color: #192e45;
    }

    h2 {
        color: #ffffff;

        font-size: 2em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        margin-bottom: 20%;
    }

    a {
        width: 20%;

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: normal;
        font-size: 1.5em;

        text-decoration: none;
        text-align: center;

        color: #f19d90;
        background-color: #132236;

        margin-top: 25px;

        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 25px;

        -webkit-box-shadow: -4px 2px 26px 5px rgba(0, 0, 0, 1);
        -moz-box-shadow: -4px 2px 26px 5px rgba(0, 0, 0, 1);
        box-shadow: -4px 2px 26px 5px rgba(0, 0, 0, 1);
    }

    .log {
        text-align: center;

        margin-top: 33%;
    }
}

/* -------------------------desktop--------------------------- */

@media only screen and (min-width: 850px) {
    body {
        background-color: #192e45;
    }

    h2 {
        color: #ffffff;

        font-size: 3.5em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    a {
        width: 20%;

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: normal;
        font-size: 2.5em;

        text-decoration: none;
        text-align: center;

        color: #f19d90;
        background-color: #132236;

        margin-top: 25px;

        padding-bottom: 25px;
        padding-top: 25px;
        padding-left: 100px;
        padding-right: 100px;

        -webkit-box-shadow: -4px 2px 26px 5px rgba(0, 0, 0, 1);
        -moz-box-shadow: -4px 2px 26px 5px rgba(0, 0, 0, 1);
        box-shadow: -4px 2px 26px 5px rgba(0, 0, 0, 1);
    }

    .log {
        text-align: center;

        margin-top: 10%;
    }

}