body{
    background-color: #ffffff;
}

.title{
    border: 2px solid #132236;
    border-radius: 4px;
    margin-left: 75px;
    margin-top: 50px;
}

.comment{
    border: 2px solid #132236;
    border-radius: 4px;
    width: 30%;
    height: 150px;
    margin-left: 75px;
}


.submit_btn{
    background-color:#132236;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 75px;
}

.pinned_btn{
    background-color:#132236;
    
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 75px;
}

.pinn_btn{
    background-color:#132236;
    
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 75px;
    margin-top: 25px;
}

/*.comments_display{
    border: 2px solid grey;
    border-radius: 4px;
    padding-left: 15px;
    margin-left: 2.5%;
    width: 90%;
}*/

.comment_container, .reply_container{
    border: 2px solid #132236;
    border-radius: 4px;
    width: 70%;
    height: 150px;
    padding-left: 15px;
    padding-bottom: 160px;
    
    margin-left: 75px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.reply_btn, .pin_btn{
    background-color:#132236;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 15px;
}
.reply_btn, .pin_btn{
    float: right;
    clear: both;
}

/*.comment_header{

    border: 2px solid grey;
    border-radius: 4px;
    width: 70%;
    height: 150px;
    padding-left: 15px;
    padding-bottom: 160px;
    
    margin-left: 75px;
    margin-top: 25px;
    margin-bottom: 50px;
}
*/
/*.comment_footer{
    border: 2px solid grey;
    border-radius: 4px;
    width: 70%;
    height: 150px;
    padding-left: 15px;
    padding-bottom: 160px;
    
    margin-left: 75px;
    margin-top: 25px;
    margin-bottom: 50px;
}*/