/*---------------mobile-----------------------*/

@media only screen and (max-width: 850px){

body{
    background-color: #132236;
}
h3{
    color: #ffffff;

    margin: 0;
    margin-top: 3%;

    padding-top: 10px;

    text-decoration: none;
}

li{
    font-size: 1.3em;

    text-align: left;
    text-decoration: none;

    list-style-type: none;
}

#p-interests{

    color: #ffffff;

    border-radius: 5px;

    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

    padding-bottom: 5%;

    -webkit-box-shadow: 0px 10px 5px 13px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 10px 5px 13px rgba(0,0,0,0.49);
    box-shadow: 0px 10px 5px 13px rgba(0,0,0,0.49);
}

.bio{
    color: #d37f79;

    font-size: 1.3em;
}

.intr{
    color: #d37f79;

    font-size: 1.3em;
}


#like{
    text-decoration: none;
}

#profile{
    text-align: center;
}

#settingsIcon{
    margin:-50%  0 0 -50% ;
}

.profilePicture{
    border-radius: 50%;

    margin-top: -10%;
}



.firstname{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-size: 2em;
}

.back_btn{
    display: inline-block;
    height: 25px;
    margin-top: 20px;
}


}

/*-------------------desktop---------------------------*/

@media only screen and (min-width: 850px){

    body{
        background-color: #132236;
    }
    h3{
        color: #ffffff;
    
        margin: 0;

        padding-top: 10px;
    
        text-decoration: none;
    }
    
    li{
        font-size: 1.3em;

        margin-left: -4%;
    
        text-align: center;
        text-decoration: none;
    
        list-style-type: none;
    }
    
    #p-interests{

        width: 60%;
    
        color: #ffffff;
    
        border-radius: 5px;
    
        margin-top: 5%;
        margin-left: 20%;
    
        padding-bottom: 5%;
    
        -webkit-box-shadow: 0px 10px 5px 13px rgba(0,0,0,0.49);
        -moz-box-shadow: 0px 10px 5px 13px rgba(0,0,0,0.49);
        box-shadow: 0px 10px 5px 13px rgba(0,0,0,0.49);
    }
    
    .p{
        color: #ffffff;
    }

    .bio{
        color: #d37f79;
    
        font-size: 1.3em;
    }
    
    .intr{
        color: #d37f79;
    
        font-size: 1.3em;
    }
    
    
    #like{
        text-decoration: none;
    }
    
    #profile{
        text-align: center;
    }
    
    #settingsIcon{
        margin:-50%  0 0 -10% ;
    }
    
    .profilePicture{
        border-radius: 50%;
    
        margin-top: 0%;
    }
    
    
    
    .firstname{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
        font-size: 2em;
    }
    
    .back_btn{
        display: inline-block;
        height: 25px;
        margin-top: 20px;
    }
    
    
    }