body {
  background: white;

}


.registerBody {
  background: #192D45;
  overflow: hidden;
}

/*--------------------Nav-----------------------*/
.navbar-brand,
.navbar a {
  color: white !important;
  font-size: 29px;

}

.alert-danger {
  color: #a7000f !important;
  background-color: #e8caca !important;
  border-color: #cea1a6 !important;
}

/*
nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top.main-menu{
/*border-right:1px solid #e5e5e5;*/
/*
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:80px;
overflow:hidden;
z-index:1000;
background: #122234 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}*/


.tab-bar {
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  width: 100%;
}

li.tab.wave.dark.avatar {
  margin-top: -40px;
}

nav.navbar.navbar-expand-md.navbar-dark.fixed-top.main-menu {
  /* border-right: 1px solid #e5e5e5; */
  position: fixed;
  top: 90vh;
  bottom: 0;
  height: 10%;
  left: 0;
  width: 100%;
  overflow: visible;
  padding: 10px;
  z-index: 1000;
  background: #122234 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab {
  width: 150px;
  padding: 0px 0;
  color: white;
  overflow: hidden;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  font-size: 29px;

}

.ProfilAvatar {
  width: 78px;
  height: 78px;
  border-radius: 100%;
  border: 3px solid #122234;
  margin: 0 auto;
  text-align: -webkit-center;
  overflow: hidden;
}


.ProfilAvatar img {
  width: 100%;
  margin-top: 0;
}






.title {
  text-align: center;
  margin-bottom: 30px;
  color: white;
  padding-top: 35px;
}

/*
.fa-2x {
font-size: 2em;
}

.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}
*/
.container {
  flex-wrap: wrap-reverse !important;
  position: absolute;
  top: 30px;
  left: -8px;

}

.container img {
  width: 70px;
  margin-top: 77vh
}

/*--------------------Alerts-Success/Error------------------------*/
.alert.alert-danger.alert-dismissible.fade.show {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0px;
  z-index: 2;
}

.alert.alert-success.alert-dismissible.fade.show {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0px;
  z-index: 2;
}

/*----------------------Form------------------------*/
.form-div {
  margin-top: 0px;
}


#formRegister {
  width: 35%;
  border: 0px solid lightgray;
  border-radius: 0px;
  padding: 0px;
  margin: 44px auto;
  background: #112234;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#verzoek {
  width: 70%;
  border: 2px solid lightgray;
  border-radius: 9px;
  padding: 30px 50px 50px;
  margin: 0px auto;
}


.email {
  margin-bottom: 1rem;
  /* margin: 1em 60px; */
  margin-right: 50px;
  margin-left: 50px;
}

#name {
  margin-bottom: 2rem;
  /* margin: 1em 60px; */
  margin-right: 37px;
  margin-left: 37px;
}

.password {
  margin-bottom: 1rem;
  /* margin: 1em 60px; */
  margin-right: 50px;
  margin-left: 50px;
}

.confPassword {
  margin-bottom: 1rem;
  /* margin: 1em 60px; */
  margin-right: 50px;
  margin-left: 50px;
}

#formRegister .form-group>label {
  color: white;
}


#formRegister .form-control.formInputs {
  background: none;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #F49088;
  color: white !important;

}



.col>label {
  color: white;
}

.col.male,
.col.female {
  color: white
}


/*#exampleInputEmail1{
  border-radius: 0;
  border: none;
  border-bottom: 1px solid red;

}*/
/*----------------------Gender------------------------*/
.gender {
  display: grid;
  grid-template-columns: 50px 60px 50px;
  justify-items: center;
  margin-top: 17px;
  margin-bottom: 1rem;
  justify-content: center;
}

.gender input {
  grid-column-start: 2;
  grid-column-end: 4;
}

.male {
  grid-column-start: 1;
  grid-column-end: 2;
}

.female {
  grid-column-start: 4;
  grid-column-end: 5;
}

input[type="checkbox"] {
  position: relative;
  width: 84px;
  height: 25px;
  -webkit-appearance: none;
  background-color: skyblue;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  transition: .5s;
}

input:checked[type="checkbox"] {
  background-color: hotpink;
}

input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: .5s;
}

input:checked[type="checkbox"]:before {
  left: 57px;
}

#alert2 {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0px;
  z-index: 2;
}

/*----------------------Conf-password------------------------*/

.confPassword {
  margin-bottom: 48px;
}

/*----------------------Button-Submit-----------------------*/

#formRegister .btn {
  width: 100%;
  /* margin-left: 41%; */
  background: #f59a93;
  ;
  color: black;
  border-radius: 0;
  /* border: 2px solid #21313F; */
  padding: 13px;
}

button.btn.btn-primary:hover {
  background: #21313F;
  color: white;
  border: 2px solid #21313F;
}


p.emailExisitError {
  color: red !important;
}

p.sucessEmail {
  color: green !important;
}


.emailErrorDiv {
  color: red;
}

/*---------------------------------------------------Sort-buddy-style-------------------------------------------------------*/


.profile img.avatar {
  width: 50px;
  border-radius: 80% !important;
  margin-right: 1em;
  margin-left: -11px;
}

.container a.profile img {
  width: 180%;
  margin-top: 0;
}

.container.sortBuddy {
  flex-wrap: wrap-reverse !important;
  position: absolute;
  top: 3px;
  left: -8px;
}


#messageNotification {
  align-self: center;
}

.countUsers {
  display: grid;
  width: 68%;
  grid-template-columns: 190px 190px;
  grid-gap: 10px;
  padding-top: 20px;
  margin: 0px auto;
}

#activeUsers {
  display: grid;
  grid-column: 1/2;
  border-right: 1px solid white;
}

#activeUsers,
#activeBuddies {
  border: 1px solid #1A2F44;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50px 140px;
  grid-template-rows: 30px;


}

#countActiveUsers,
#countActiveBuddies {
  text-align: center;
  color: white;
  background-color: #1A2F44;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;


}




#activeBuddies {
  display: grid;
  grid-column: 2/3;
}

#personIcon,
#buddyIcon {
  height: 20px;
  /*margin: 10px auto 10px auto;*/

}

img.avatar {
  width: 50px;
  border-radius: 80% !important;
  margin-right: 1em;
  margin-left: 2em;
}

.userForm {
  border: none;
  width: 68%;
  border-radius: 9px;
  padding: 30px 0px 10px;
  margin: 0px auto;
  background: none;
  box-shadow: none;
}

.userContainer {
  border: 0px solid black;
}

.container-list {

  width: 68%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 64vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 9px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.container-list::-webkit-scrollbar {
  background: #d37f79;
  width: 10px;
}


h2.user-name.col-xs-5 {
  font-size: 19px;
  text-transform: capitalize;
  letter-spacing: 4px;
}

li.row {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 11px;
  margin-bottom: 11px;
  width: 100%;
  margin-left: 0px;
}

li:last-child {
  margin-bottom: 0px;
  border-bottom: 0px;
}

ul {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.icon {
  margin-right: 5px;
}

h5 {
  margin-right: 15px;
}

.type-select.btn.btn-primary {
  margin-right: 10px;
  border: 1px solid gray;
  background: none;
  color: gray;
}

.type-select.btn.btn-primary:hover {
  background: gray;
  color: white;
}

.container-fluid.box {
  position: absolute;
  top: 12px;
}

a.nav-link.pt-4.profile {
  margin-bottom: 140px;
}

a.nav-link.pt-4 {
  margin-bottom: 20px;
}

a.nav-link.pt-4.homeIcon {
  margin-top: 133px;
}

.ProfilAvatarUserList {
  width: 58px;
  height: 58px;
  border-radius: 100%;
  margin: 0 15px 0px;
  overflow: hidden;
}

.ProfilAvatarUserList img {
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}


.errorNotification {
  width: 17%;
  margin-left: 50%;

  height: 22px;
  border-radius: 50px;


  background-color: red;

  position: absolute;
  font-size: 13px;
}

/*--------------------------------feature19------------------------------*/

.contain {
  width: 80%;
  margin: 70px auto 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contain .box {
  position: relative;
  width: 331px;
  height: 330px;
  background-color: #F49088;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.contain .box .imgBox {
  position: relative;
  overflow: hidden;
}

.contain .box .imgBox img {
  width: 100%;
  transition: transform 2s;
}

.contain .box:hover .imgBox img {
  transform: scale(1.1);
}

.contain .box .details {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: rgba(0, 0, 0, .8);
  transform: scaleY(0);
  transition: transform 1s;
}

.contain .box:hover .details {
  transform: scaleY(1);
}

.contain .box .details .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  padding: 15px;
}

.contain .box .details .content h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #F49088;
}

.contain .box .details .content p {
  margin: 10px 0 0;
  padding: 0;
}

.contain-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.localSeacr {
  width: 100% !important;
}

#searchBalkLocal {
  min-width: 26%;
  height: 39px;
  margin: 0 auto;
}


.content ul li {
  font-weight: 200;
}

.content ul li span {
  font-weight: bold;
}


.home,
a.listBuddies {
  display: inline-block;
  background-color: #1A2F44;
  color: #ffffff;
  text-align: center;

  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 9px 20px 9px 20px;
  margin-left: 25px;
}




.counterIcon {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

a.listBuddies {
  margin-left: 16%;
  margin-top: 14px;
}

i.fas.fa-list {
  margin-right: 10px;
}

a.searchClassroom {
  padding: 9px 20px 9px 18px;
  background: #192e45;
  border-radius: 6px;
  /* width: 170px; */
  position: absolute;
  margin-top: 14px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

a.searchClassroom li {
  margin-right: 10px;
}

i.fa-search-location {
  margin-right: 10px;
}



.h2-buddy {
  margin-left: 10%;
  margin-top: 40px;
}

.form-chatnames {
  width: 70%;
  margin: 10px auto;
  border: none;
  border-top: 2px solid #132236;
  border-radius: 0;

}

.showWelkom {
  width: 100%;
  background-color: #d37f79;
  color: #122234;
  padding: 20px;
}

.form-chatnames:last-of-type {
  border-bottom: 2px solid #132236;
}


.chatNames,
h1 {
  color: #132236;
}

.chatNames {
  display: grid;
  grid-template-columns: 30% 70%;

}

.chatname {
  font-size: 24px;
  font-weight: 600;
}

.newMessages {
  display: inline-block;
  padding: 10px;
}

.form-chatnames #btnChat {
  background-color: #132236;
  color: #ffffff;
  border: none;
}

.form-chatnames #btnChat:hover {
  background-color: #d37f79;
  color: #122234;
}





/*-------profilesettings------*/
#profileSettingsForm {
  width: 90%;
}

.profileform label {
  display: block;
}

.profileform {
  margin-bottom: 10px;
}

.form-profile-settings {
 
  margin: 20px 0;
  padding: 10px;
  /*border: 1px solid #d37f79;*/
 /* box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.2);*/
}

#fileUpload {
            
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

}

#fileUploadLabel {
  display: inline-block;
  border: 1px solid #132236;
}

.back-btn {
  display: inline-block;
  height: 25px;
  margin-top: 20px;
  margin-left: 20px;
}

.form__error_profile p{
  background-color: #d37f79;
  padding: 10px;
}


.profilePictureWrap {
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius:50%;
 
}

.profilePicture {
  width: 180px;
}

.btnOpslaan,
.btnBack {
  background: #122234;
  border: none;
}

.btnOpslaan:hover,
.btnBack:hover {
  background-color: #d37f79;
  color: #122234;
}

#btnTalk {
  background: #122234;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

/* --------------- Log in ---------------------*/
/*#login-img {
  z-index: 2;
  padding-left: 0;
  width: 250px;
  margin-left: 55%;
  padding-top: 100px;
}

#login-form {
  z-index: 1;
  background-color: #ffffff;
  justify-content: center;
  
  color: #132236;
  margin-top: -50px;
  
}*/

/*--------showMatches-----------*/
.card {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid #132236;

}

.cards {
  margin-top: 40px;

}

.profilePictureMatch {
  display: none;
}

.namesMatches {
  text-align: center;
}

.emptyState {
  margin-left: 10%;
}





/*----------------feature8-reaction-----------------------*/
#feature8 {
  overflow: hidden;
}

.messageContainer {
  margin-bottom: 27px;
  align-items: center;
  width: 80%;
}

.messageBox.col-lg-6 {
  background: #213854;
  padding: 1px 17px;
  border-radius: 23px;
  margin-right: 11px;
  color: white;
}

.messageBox p {
  margin: 0;
  padding: 10px;
}

.givedReactionBox {
  height: 20px;
  width: 23px;
  /* width: 150px; */
  display: block;
  position: absolute;
  top: 21px;
  right: 10px;
  justify-self: end;
}

._1ift._5m3a.img.gived {
  width: 87%;
  display: block;
}

.messageContainer:hover .reactionsBox.col-lg-2 {

  display: block;

}


.reactionsBox.col-lg-2 {

  display: none;
}

.reactionsBox.col-lg-2 a {
  color: grey;
  font-size: 20px;
}


.emojisBox {
  /*position: absolute; */
  /* top: 84px; */
  /* left: 280px; */
  background: white;
  overflow: hidden;
  width: 50%;
  border-radius: 100px;
  padding: 5px 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 -2px 5px 0 rgba(0, 0, 0, 0.19);
  display: none;
}

._1z8q._fy2 {
  text-align: center;
}

._1z8q._fy2 img {
  width: 10%;
  margin-right: 5px;
}

._1z8q._fy2 img:hover {
  width: 11%;
}

span.iconn:hover {
  cursor: pointer;
}

.chatbox {
  height: 70vh;
  width: 100%;
  padding: 27px 637px 0 20px !important;
  background-color: mintcream;
  overflow: auto;
  background: white !important;
}

.chatbox-wrapper {
  min-width: 42.7% !important;
}

#chatpartner {
  background-color: #122234;
  padding: 20px;
  min-width: 42.7% !important;
}


#message {
  width: 100%;
  height: 75px;
  border: none;
  border-top: 2px solid #122234;
}

.mt-2 {
  margin-top: 0px !important;
}


.col.reciverName {
  max-width: 109% !important;
  text-align: center;
  font-size: 1rem !important;
  margin: 0 !important;
  align-self: center;
  color: white;
}

.col.backBtn {
  color: white !important;
  max-width: 10% !important;
}

.messageBox {
  display: grid !important;
  grid-template-columns: 40px 235px;
  ;
  grid-template-rows: 1;
}

.names {
  align-self: center;
}


a#btnSendMessage {
  width: 100%;
  height: 130px;

  border: none;
  border-radius: 0;
  background: #122234;
  padding-top: 40px;
}


/*----------------------Media-query-----------------------*/
/*--------showMatches-------*/
@media all and (min-width: 700px) {
  .card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }



  .profilePictureMatch {
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
}



/* For mobile phones: */
@media only screen and (max-width: 768px) {
  body {
    background: white;

  }

  .registerBody {
    overflow: visible;
  }

  .container img {
    width: 70px;
    margin-top: 0;

  }

  .container {
    padding-right: 5px !important;
    padding-left: 30px !important;
    flex-wrap: wrap-reverse !important;
    position: fixed;
    top: 0;
    left: 0;
  }

  .alert.alert-success.alert-dismissible.fade.show {
    top: 29px;
  }

  .alert.alert-danger.alert-dismissible.fade.show {

    top: 69px;

  }

  #formRegister {
    width: 90%;
    margin: 124px auto 0px;
  }

  .fullName {
    width: 100%;
  }

  .gender {
    display: grid;
    grid-template-columns: 59px 66px 44px;
    justify-items: left;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 20px;
  }


  a#btnSendMessage {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 25px;
    font-size: 17px;
    width: 100%;
    border-radius: 0 !important;
    border: none;
  }





  /*---------sortBuddy---------------*/
  .container a.profile img {
    width: 10%;
    margin-top: 0;
  }

  ul.nav.justify-content-end {
    flex-wrap: nowrap !important;
    align-items: baseline;
    margin-top: -3px;
    margin-left: -70px;

  }


  .pt-4,
  .py-4 {
    padding-top: 0rem !important;
  }


  .container.sortBuddy {
    display: contents;
  }

  .nav-link {
    display: block;
    padding: .5rem 64px;
  }

  .container a.profile img {
    width: 160%;
    margin-top: -20px;
    border: 6px solid #122234;
  }

  #messageNotification {
    align-self: auto;
    margin-left: -40px;
    margin-right: 70px;
    z-index: 1;

  }

  #contactIcon {
    padding-left: 90px;
    padding-right: 50px;
  }

  .comments {
    align-self: auto;
    margin-left: -20px;
    margin-right: -59px;
  }

  a.nav-link.pt-4.homeIcon {
    margin-top: 10px;
  }


  .emojisBox {

    background: white;
    overflow: hidden;
    width: 75%;
    border-radius: 100px;
    padding: 5px 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 -2px 5px 0 rgba(0, 0, 0, 0.19);
    display: none;
  }

  .chatbox {
    height: 77vh;
    width: 100%;
    padding: 20px !important;
    background-color: mintcream;
    overflow: auto;
  }


  #message {
    width: 100%;
    height: 43px;
    border: none;
    border-top: 2px solid #122234;
  }

  a#btnSendMessage {
    width: 100%;
    height: 130px;
    border: none;
    border-radius: 0;
    background: #122234;
    padding-top: 25px;
  }

  .container-list {
    width: 100%;
  }

  #btnTalk {
    background: #122234;
    border-radius: 5px;
    padding: 10px;
    color: white;
  }

  h2.user-name.col-xs-5 {
    font-size: 9px;
    text-transform: capitalize;
    letter-spacing: 4px;
    margin-right: 12px !important;
  }

  .container-fluid.box {
    position: absolute;
    top: 0px;
  }

  .form-inline {
    display: -ms-flexbox;
    display: flex;
    overflow: scroll;
    -ms-flex-flow: row wrap;
    flex-flow: nowrap;
    -ms-flex-align: center;
    align-items: center;
  }

  .userForm {
    border: none;
    width: 98%;
    border-radius: 9px;
    padding: 30px 0px 10px;
    margin: 0px auto;
    background: none;
    box-shadow: none;
  }

  .container-list {
    width: 100%;
    overflow: scroll;
    height: 444px;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .countUsers {
    display: grid;
    /* width: 68%; */
    grid-template-columns: 190px 190px;
    grid-gap: 10px;
    padding-top: 20px;
    margin: 0px auto;
    justify-content: center;
  }

  #alert2 {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 75px;
    z-index: 2;
  }

  .listBuddies {

    margin-left: 41px;
    margin-top: 14px;
  }

  .contain .box .details {
    transform: scaleY(1);
  }

}



@media only screen and (min-width: 768px) {

  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.main-menu {
    /* border-right: 1px solid #e5e5e5; */
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 80px;
    overflow: hidden;
    z-index: 1000;
    background: #122234 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .tab-bar {
    margin-left: -46px;
    display: flex;
    list-style-type: none;
    flex-direction: column;
  }

  .tab {
    padding: 20px 0;
  }

  .tab-bar :nth-child(3) {
    order: 1;
  }

  .tab-bar :nth-child(1) {
    order: 2;
  }

  .tab-bar :nth-child(2) {
    order: 3;
  }

  .tab-bar :nth-child(4) {
    order: 4;
  }

  .tab-bar :nth-child(5) {
    order: 5;
  }


  .tab-bar :nth-child(3) {
    padding-bottom: 15px;
    padding: 0px 0px 150px;
  }

  .tab-bar :nth-child(5) {
    padding: 160px 0px 0px;
  }

  .ProfilAvatar {
    width: 58px;
    height: 58px;
  }

}

@media all and (min-width: 1024px){
  #profileSettingsForm {
    width: 50%;
    box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.2);
}
}



/*---------feature4----------------*/

.bg-feature4 {
  background-color: #122234;
  color: white;
}

/*---------sortbuddy->matches--------*/

#acceptBtn {
  background-color: #122234;
}

button#acceptBtn:hover {
  background-color: #d37f79;
  color: #122234;
}

#deleteBtn {
  background-color: #122234;
}

button#deleteBtn:hover {
  background-color: #d37f79;
  color: #122234;
}

#contactBtn {
  background-color: #122234;
}

#verzoek {
  border-color: #122234;
}